[id^="graph"]{
	height : 360px; 
}
.gh6-container{
	padding: 80px 0px 0px 40px;
}
.gh6-container .gh6-comments{
	margin-left: 148px;
    width: 350px;
    display: inline-block;
	text-align:center;
	font-size:20px;
	padding-bottom:12px;
}
.gh6-container .left,.gh6-container .right{
	float:left;
}
.gh6-container .right{
	margin-left:20px;
}
.gh6-container .right .item{
	border: 1px; 
	height:40px; 
	width:350px;
	border-radius: 4px;
	margin-bottom:8px;
}
.gh6-container .right .item:last-child{
	margin-bottom:0px;
}
.gh6-container .right .item .item-icon{
	width: 80px;
  height: 100%;
	float:left;
	text-align:center;
	border-radius: 4px;
}
.gh6-container .right .item .item-icon .fa{
	padding-top:10px;
	color:white;
}
.item-text{
  padding-top:8px;
  padding-left:70px;
  color:white;
}
.gh6-container .right .item .item-text{
  height: 100%;
	float:left;
}
.gh6-container .left .circle {
font-size: 128px;
    color: #7cce4e;
    width: 128px;
    text-align: center;
    height: 128px;
    line-height: 128px;
	margin: 4px 0px 4px 0px;
}
.greenRectangle{
	background-color:#4CB556;
}
.greenRectangle .item-icon{
	background-color:#339900;
}

.redRectangle{
	background-color:#5D9CEC;
}
.redRectangle .item-icon{
	background-color:#2F80E7;
}
.yellowRectangle{
	background-color:#A5461A;
}
.yellowRectangle .item-icon{
	background-color:#A52A16;
}